<h3>Make a bet</h3>
 <p> <%=params['username']%> the bet has to be under 500.</p>
 <p>type again</p>

<form action="/first_hand" method="post">
	<input type="text" name="bet_amount">
	<input type="submit">
</form>
